@charset "UTF-8";

/* reset style [start] */
html, body, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, q, s, dl, dt, dd, ol, ul, li, fieldset, form, input, table, tr, th ,td { margin: 0; padding: 0; border:0; line-height: 1.5em; }

img, fieldset {border:0 none;}body {position:relative;font-size:75%;line-height:1.8em;color:#545454; font-family:"Nanum Gothic","나눔고딕","나눔고딕굵게",NanumGothicbold,"돋움",Dotum,"굴림",Gulim,"Lucida Grande",Tahoma,Verdana,AppleGothic,UnDotum,"sans-serif";}
strong { font-weight: bold; }
em, dfn, cite, address { font-style:normal; }
sup, sub { font-size:0.92em; }
del { text-decoration:line-through; }
button {cursor:pointer; border:none; background:none}
span.button, img.button, a.button {vertical-align:middle;}
ol, ul, li { list-style:none;}
table {border-collapse: separate; border-spacing:0;}
legend {position:absolute; visibility:hidden; overflow:hidden; width:0; height:0; font-size:0%;}
caption {position:absolute; visibility:hidden; overflow:hidden; width:0; height:0; font-size:0%;}
hr {display:none;}

a:link { color:#636363; text-decoration:none; }
a:visited { color:#636363; text-decoration:none; }
a:hover { color:#0030ae; text-decoration:underline; }
a:active { color:#0030ae; text-decoration:underline; }

.clearfix:after {display:block; visibility:hidden; clear:both; content:'.'; overflow:hidden; width:0; height:0; font-size:0; line-height:0; text-indent:-9999px;}
.clearfix {display:inline-block;}
.clearfix {display:block;}

.skip {position:absolute; overflow:hidden; height:0; width:0; font-size:0; visibility:hidden;}
.clear{clear: both;}

.floatLeft { float: left; display: inline; margin:50 0 10 0px;}
.floatRight { float: right; display: inline; margin:50 0 10 0px; font-size:13px; padding:5px;}


/* 입력 form */
input[type="text"]{padding:3px;border:solid 1px #ccc;}
input[type="password"]{padding:3px;border:solid 1px #ccc;}
input[type="radio"]{padding:3px;border:solid 3px #ccc;}
button[type="submit"]{display: block; text-align: center; float:left; padding:15 100px; font-size: 20px; color:fff; background-color:#B3B3B3;}
button[type="submit"]:hover {display: block; text-decoration:none; text-align: center;float:left; background-color: #1e7ede; color:#fff;
	cursor: pointer;}
button[type="reset"]{display: block; text-align: center; float:left; padding:15 90px; font-size: 20px; color:fff; background-color:#B3B3B3;}
button[type="reset"]:hover {display: block; text-decoration:none; text-align: center; float:left; background-color: #1e7ede; color:#fff;
	cursor: pointer;}
button[type="delete"]{display: block; text-align: center; padding:10 50px; font-size: 15px; color:fff; background-color:#333;}
button[type="delete"]:hover {display: block; text-decoration:none; text-align: center; background-color: #1e7ede; color:#fff;
	cursor: pointer;}
button[type="search"]{display: block; float:right; text-align: center; padding:5 10px; margin-left:10px; font-size: 15px; color:fff; background-color:#333;}
button[type="search"]:hover {display: block; float:right; text-decoration:none; text-align: center; margin-left:10px; background-color: #1e7ede; color:#fff;
	cursor: pointer;}


/* 공통파일지정되면 파일넣기 */
/* 
 * Nanum Gothic (Korean) http://www.google.com/webfonts/earlyaccess
 */
@font-face {
  font-family: 'Nanum Gothic';
  font-style: normal;
  font-weight: normal;
  src:url(font/NanumGothic.eot);src:local('dddd.ttf'),url(font/NanumGothic.woff) format('woff')
}
@font-face {
  font-family: 'Nanum Gothic bold';
  font-style: normal;
  font-weight: 400;
src:url(font/NanumGothicBold.eot);src:local('dddd.ttf'),url(font/NanumGothicBold.woff) format('woff')
}
@font-face {
  font-family: 'Nanum Gothic Extra Bold';
  font-style: normal;
  font-weight: 800;
  src:url(font/NanumGothicExtraBold.eot);src:local('dddd.ttf'),url(font/NanumGothicExtraBold.woff) format('woff')
} 
@font-face {
  font-family: 'Nanum Barun Gothic';
  font-style: normal;
  font-weight: normal;
 src:url(font/NanumBarunGothic.eot);src:local("※"),url(font/NanumBarunGothic.woff) format('woff')
}