.wrapper {width:100%; min-width:1024px; height:100%; overflow:hidden;}
.inner {width:1300px; min-width:1024px; margin: 0 auto; position: relative;}

header {position:relative; width:100%; height:200px; background-color:#fff; transition:all 0.3s ease; z-index:90;}
header .topService {position:relative; height:40px; background-color:#2a3a67; z-index:20;}
header .topService .topLeft {float:left; width:70%;}
header .topService .topLeft ul li {position:relative; float:left; width:20%; height:40px; margin:0;}
header .topService .topLeft ul li > a {position:relative; width:100%; text-align:center;}
header .topService .topLeft ul li > a:before {position:absolute; content:''; top:50%; right:0; width:1px; height:15px; background-color:#fff; transform: translateY(-50%); opacity:0.3;}
header .topService .topLeft ul li:last-child > a:before {display:none;}
header .topService .topLeft ul li > a span.unit {display:block; width:100%; font-size:0.75rem; font-weight:600; letter-spacing:-0.1em; line-height:40px; color:#fff; transition:all 0.3s ease;}
header .topService .topLeft ul li > a span.unit.hover {display:none;}
header .topService .topLeft ul li:hover > a span.unit {display:none;}
header .topService .topLeft ul li:hover > a span.unit.hover {display:block; color:#333; background-color:#fff;}
header .topService .topRight {position:absolute; right:0; top:0; background-color:#101d41;}
header .topService .topRight ul li.unit {position:relative; float:left; height:40px; margin:0;}
header .topService .topRight ul li.unit > a {position:relative; width:100%; text-align:center; padding:0 10px 0 15px;}
header .topService .topRight ul li.unit:before {position:absolute; content:''; top:50%; right:0; width:1px; height:10px; background-color:#fff; transform: translateY(-50%); opacity:0.3;}
header .topService .topRight ul li.unit:last-child::before {display:none;}
header .topService .topRight ul li.unit > a span {display:inline; margin-right:5px; font-size:0.75rem; font-weight:600; line-height:40px; color:#fff; transition:all 0.3s ease;}
header .topService .topRight ul li.unit:first-child > a {padding-left:20px;}
header .topService .topRight ul li.unit:last-child > a { padding:0 25px 0 12px;}
header .topService .topRight ul li.unit:last-child > a:before {position:absolute; content:''; top:42%; right:15px; color:#fff; border-top:none; border-left:6px solid #fff; border-right:7px solid transparent; border-bottom:6px solid transparent; transform:translateY(-50%) rotate(225deg);}
header .topService .topRight ul li.lang > ul.con {position:absolute; left:0; width:100%; visibility:hidden; background-color:#101d41; transition:all 0.5s ease; z-index:50;}
header .topService .topRight ul li.lang:hover > ul.con {visibility:visible;}
header .topService .topRight ul li.lang > ul.con li a {width:100%; text-align:center; font-size:0.75rem; line-height:40px; text-align:center; color:#fff; opacity: 0.3;}
header .topService .topRight ul li:hover > ul.con li:hover a {opacity: 1;}

header .topBottom {position:relative; text-align:center; z-index:10;}
header .topBottom .logo {position:relative; padding:20px 0 10px;}
header .topBottom .logo a {position:relative; display:inline-block; width:238px; height:63px; background:url('../images/logo_new.png') 50% 50% no-repeat;}
header .topBottom .organization {position:absolute; top:35%; left:30px; padding:5px 15px; border:1px solid #b7b7b7; border-radius:25px;}
header .topBottom .organization span {font-size:0.85rem; font-weight:600; color:#333; margin-right:2px;}
header .topBottom .topBtnWrap {position:absolute; bottom:-50px; right:0;}
header .topBottom .topBtnWrap .allMenu {position:relative; width:25px; height:30px; margin:0 15px 0 10px; overflow:hidden;}
header .topBottom .topBtnWrap .allMenu span {display:block; margin:0; width:90%; height: 2px; background-color: #4a515f; border-radius: 1px; transform:translateX(-2px); transition:all 0.3s ease-in-out;}
header .topBottom .topBtnWrap .allMenu span.bar2 {margin: 6px 0 6px 4px; transform:translateX(2px);}
header .topBottom .topBtnWrap .allMenu:hover span {transform:translateX(3px);}
header .topBottom .topBtnWrap .allMenu:hover span.bar2 {transform:translateX(-5px);}
header .topBottom .topBtnWrap .searchBtn {position:relative; width:30px; height:30px; margin-left:10px; overflow:hidden;}
header .topBottom .topBtnWrap .searchBtn span.search1 {position:absolute; display:block; top:2px; left:0;  margin:0; width:22px; height:22px; border-radius: 100px; border:2px solid #4a515f;}
header .topBottom .topBtnWrap .searchBtn span.search2 {position:absolute; display:block; bottom:6px; right:5px; width:8px; height:2px; background-color:#4a515f; transform:rotate(45deg);}
header .topBottom .topBtnWrap > section {display:none;}

nav.topMenu {position: relative; border-top:1px solid #f5f5f5;}
nav.topMenu .depth01 {position: relative; width:92%;}
nav.topMenu .depth01 ul li.depth01_item {float:left; text-align:center; margin:0 6.5%;}
nav.topMenu .depth01 ul li a.depth01_title {position:relative; display:block; padding:20px 0; font-size:1.2rem; font-weight:700; transition: all 0.3s;}
nav.topMenu .depth01 ul li a.depth01_title:before {position: absolute; content:''; visibility: hidden; left:0; bottom:0; width:100%; height:3px; background-color: #ec008c;}
nav.topMenu .depth01 ul li:hover a.depth01_title {color:#ec008c;}
nav.topMenu .depth01 ul li:hover a.depth01_title:before {visibility: visible;}
nav.topMenu .depth02 {display:none;}

main.container {position:relative;}
.screenRolling {position:fixed; top:190px; right:2%; z-index:80;}
.screenRolling ol li {margin:15px 0; transition:all 0.3s ease;}
.screenRolling ol li:hover {transform:translateX(-15%);}
.screenRolling ol li a {display:block; width:65px; height:65px; padding-top:30px; text-align:center; background-color:#fff; border:1px solid #ddd; border-radius:50%; box-shadow:2px 4px 0 #ddd;}
.screenRolling ol li:last-child a {background-color:rgba(0,0,0,0.8); border:none; box-shadow:none; color:#fff;}
.screenRolling ol li.active a {background-color:#ec008c; color:#fff; border:1px solid #fff;}

section {padding-bottom:50px;}
section.sec01 .conArea {position:relative; display:block; width:1420px; height:510px; margin:0 auto; margin-bottom:80px;}
section.sec01 .conArea .content ul li {position:relative; display:flex; width:50%; height:510px; align-items:center; justify-content:center;}
section.sec01 .conArea .content .leftBox {float:left; background-color:violet;}
section.sec01 .conArea .content .rightBox {background-color:purple;}

section.sec01 .conBtnArea {position:relative; overflow: hidden;}
section.sec01 .conBtnArea .slideItem {float:left; width:426px; height:77px;}
section.sec01 .conBtnArea .slideItem > a {display:block; padding:27px 0 27px 5.2rem; font-size:1rem; text-align:left; border:1px solid #ddd; margin-right:-1px;}
section.sec01 .conBtnArea .slideItem.swiper-slide-next > a {text-align:right; padding:27px 5.2rem 27px 0;}
section.sec01 .conBtnArea .swiper-slide-active {background-color: #ec008c;}
section.sec01 .conBtnArea .swiper-slide-active a {color:#fff;}
section.sec01 .conBtnArea .conBtn button {position: absolute; top:25%; left: 0; width: 80px; height: 82px; transition: all .5s ease; z-index: 1; background-color: #fff;}
section.sec01 .conBtnArea .conBtn button.next {left:auto; right: 0;}


section.sec02 {position:relative; padding-top:8rem; text-align: center; background:url('../images/bg_gcn.jpg') 50% no-repeat; background-size:cover; background-attachment: fixed;}
section.sec02 .textArea {display:none;}
section.sec02 .listArea {width:1430px; padding:2rem 0 0; background-color:rgba(25,43,93,.9);}
section.sec02 .listArea ul li {float:left; margin:0 15px; border:1px solid red;}
section.sec02 .listArea ul li > div.iconChange {width:65px; height:65px;}
section.sec02 .listArea ul li > div.iconChange a {color:#fff;}
section.sec02 .listArea ul li > div.businessBox {position:absolute; visibility: hidden;}
section.sec02 .listArea ul li.active > div.businessBox {visibility: visible;}